USE [master]
GO
/****** Object:  Database [testingProyectos]    Script Date: 27/03/2018 04:52:42 p.m. ******/
CREATE DATABASE [testingProyectos] ON  PRIMARY 
( NAME = N'testingProyectos', FILENAME = N'C:\Archivos de programa\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\testingProyectos.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testingProyectos_log', FILENAME = N'C:\Archivos de programa\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\testingProyectos_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'testingProyectos', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testingProyectos].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [testingProyectos]
GO
/****** Object:  Table [dbo].[Defectos]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Defectos](
	[id_defecto] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario_detector] [int] NULL,
	[id_usuario_resolutor] [int] NULL,
	[descripcion] [varchar](200) NULL,
	[id_estado] [int] NULL,
	[id_publicacion_resolucion] [int] NULL,
	[fecha_deteccion] [datetime] NULL,
	[fecha_resolucion] [datetime] NULL,
 CONSTRAINT [PK_Defectos] PRIMARY KEY CLUSTERED 
(
	[id_defecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Defecto]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Defecto](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Estado_Defecto] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Publicacion]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Publicacion](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Estado_Publicacion] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[id_proyecto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fecha_alta] [datetime] NOT NULL,
	[fecha_ultima_modif] [datetime] NOT NULL,
	[id_usuario_creador] [int] NOT NULL,
	[descripcion] [varchar](500) NULL,
	[urlTesting] [varchar](200) NULL,
	[urlProduccion] [varchar](200) NULL,
	[fecha_baja] [datetime] NULL,
 CONSTRAINT [PK_Proyectos] PRIMARY KEY CLUSTERED 
(
	[id_proyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos_Usuarios]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos_Usuarios](
	[id_proyecto] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
	[fecha_desde] [datetime] NULL,
 CONSTRAINT [PK_Proyectos_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_proyecto] ASC,
	[id_usuario] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[id_publicacion] [int] IDENTITY(1,1) NOT NULL,
	[id_proyecto] [int] NULL,
	[id_usuario_publicador] [int] NULL,
	[id_usuario_evaluador] [int] NULL,
	[version] [varchar](50) NULL,
	[archivo_devolucion] [image] NULL,
	[fecha_estimada_resolucion] [datetime] NULL,
	[fecha_publicacion] [datetime] NULL,
	[fecha_devolucion] [datetime] NULL,
	[id_estado] [int] NULL,
 CONSTRAINT [PK_Publicaciones] PRIMARY KEY CLUSTERED 
(
	[id_publicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles_Usuarios]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_Usuarios](
	[id_usuario] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
 CONSTRAINT [PK_Roles_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[id_usuario] [int] NOT NULL,
	[id_rol] [int] NULL,
	[fecha_inicio] [datetime] NULL,
	[token] [varchar](100) NULL,
 CONSTRAINT [PK_Sesiones] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[login_name] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[fecha_alta] [datetime] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[token_clave] [varchar](50) NULL,
	[habilitado] [bit] NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[fecha_ultima_modif] [datetime] NULL,
	[fecha_baja] [datetime] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Defectos]  WITH CHECK ADD  CONSTRAINT [FK_Defectos_Estado_Defecto] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado_Defecto] ([id_estado])
GO
ALTER TABLE [dbo].[Defectos] CHECK CONSTRAINT [FK_Defectos_Estado_Defecto]
GO
ALTER TABLE [dbo].[Defectos]  WITH CHECK ADD  CONSTRAINT [FK_Defectos_Publicaciones] FOREIGN KEY([id_publicacion_resolucion])
REFERENCES [dbo].[Publicaciones] ([id_publicacion])
GO
ALTER TABLE [dbo].[Defectos] CHECK CONSTRAINT [FK_Defectos_Publicaciones]
GO
ALTER TABLE [dbo].[Defectos]  WITH CHECK ADD  CONSTRAINT [FK_Defectos_Usuarios] FOREIGN KEY([id_usuario_detector])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Defectos] CHECK CONSTRAINT [FK_Defectos_Usuarios]
GO
ALTER TABLE [dbo].[Defectos]  WITH CHECK ADD  CONSTRAINT [FK_Defectos_Usuarios1] FOREIGN KEY([id_usuario_resolutor])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Defectos] CHECK CONSTRAINT [FK_Defectos_Usuarios1]
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Usuarios] FOREIGN KEY([id_usuario_creador])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_Usuarios]
GO
ALTER TABLE [dbo].[Proyectos_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Usuarios_Proyectos] FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[Proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[Proyectos_Usuarios] CHECK CONSTRAINT [FK_Proyectos_Usuarios_Proyectos]
GO
ALTER TABLE [dbo].[Proyectos_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Usuarios_Roles_Usuarios] FOREIGN KEY([id_usuario], [id_rol])
REFERENCES [dbo].[Roles_Usuarios] ([id_usuario], [id_rol])
GO
ALTER TABLE [dbo].[Proyectos_Usuarios] CHECK CONSTRAINT [FK_Proyectos_Usuarios_Roles_Usuarios]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Estado_Publicacion] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado_Publicacion] ([id_estado])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Estado_Publicacion]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Proyectos] FOREIGN KEY([id_proyecto])
REFERENCES [dbo].[Proyectos] ([id_proyecto])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Proyectos]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Usuarios] FOREIGN KEY([id_usuario_publicador])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Usuarios]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Usuarios1] FOREIGN KEY([id_usuario_evaluador])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Usuarios1]
GO
ALTER TABLE [dbo].[Roles_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Usuarios_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Roles_Usuarios] CHECK CONSTRAINT [FK_Roles_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Roles_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Usuarios_Usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Roles_Usuarios] CHECK CONSTRAINT [FK_Roles_Usuarios_Usuarios]
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD  CONSTRAINT [FK_Sesiones_Roles_Usuarios] FOREIGN KEY([id_usuario], [id_rol])
REFERENCES [dbo].[Roles_Usuarios] ([id_usuario], [id_rol])
GO
ALTER TABLE [dbo].[Sesiones] CHECK CONSTRAINT [FK_Sesiones_Roles_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[proyectoGetUsuarioById]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 23/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectoGetUsuarioById]
	@idProyecto int
AS
BEGIN
	SELECT * 
	FROM Proyectos_usuarios
	where id_proyecto = @idProyecto
END
GO
/****** Object:  StoredProcedure [dbo].[proyectosDelete]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 19/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectosDelete]
	@id_proyecto int,
	@fecha_baja datetime
AS
BEGIN
	UPDATE Proyectos
	SET fecha_baja = @fecha_baja
	WHERE id_proyecto = @id_proyecto
END
GO
/****** Object:  StoredProcedure [dbo].[proyectosGetAll]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 23/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectosGetAll]
	
AS
BEGIN
	SELECT * 
	FROM Proyectos
	where fecha_baja is null
END
GO
/****** Object:  StoredProcedure [dbo].[proyectosGetByIdProyectoIdUser]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 13/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectosGetByIdProyectoIdUser]
	@idProyecto int
AS
BEGIN
	SELECT *
	FROM Proyectos p
	where p.id_proyecto = @idProyecto
	and p.fecha_baja is null
END
GO
/****** Object:  StoredProcedure [dbo].[proyectosGetByIdUser]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 13/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectosGetByIdUser]
	@idUser int
AS
BEGIN
	SELECT *
	FROM Proyectos p
	LEFT JOIN Proyectos_Usuarios pu
	ON p.id_proyecto = pu.id_proyecto
	where (pu.id_usuario = @idUser
	or p.id_usuario_creador = @idUser)
	and p.fecha_baja is null
	
END
GO
/****** Object:  StoredProcedure [dbo].[proyectosInsert]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		BRIZUELA MARCELO
-- CREATE DATE: 16/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectosInsert]
	@NOMBRE VARCHAR(50),
	@DESCRIPCION VARCHAR(500),
	@URLTESTING VARCHAR(200),
	@URLPRODUCCION VARCHAR(200),
	@ID_USUARIO_CREADOR INT,
	@FECHA_ALTA DATETIME
AS
BEGIN
	
	DECLARE @ESCREADOR INT

	SELECT @ESCREADOR = COUNT(*) FROM ROLES_USUARIOS WHERE ID_USUARIO = @ID_USUARIO_CREADOR AND ID_ROL = 2;

	IF @ESCREADOR > 0
	BEGIN
	INSERT INTO PROYECTOS
		(NOMBRE, DESCRIPCION, URLTESTING, URLPRODUCCION, ID_USUARIO_CREADOR, FECHA_ALTA, FECHA_ULTIMA_MODIF)
	VALUES
		(@NOMBRE,@DESCRIPCION,@URLTESTING,@URLPRODUCCION,@ID_USUARIO_CREADOR, @FECHA_ALTA, @FECHA_ALTA);
		
	SELECT @@IDENTITY
	END
	ELSE
	BEGIN
		SELECT -1
	END
END




GO
/****** Object:  StoredProcedure [dbo].[proyectosInsertUsuario]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 27/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectosInsertUsuario]
	@id_proyecto int,
	@id_usuario int,
	@id_rol int
AS
BEGIN
	INSERT INTO Proyectos_Usuarios
		(id_proyecto, id_usuario, id_rol, fecha_desde)
	VALUES
		(@id_proyecto, @id_usuario, @id_rol, getdate())
END
GO
/****** Object:  StoredProcedure [dbo].[proyectosQuitarUsuario]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 27/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectosQuitarUsuario]
	@id_proyecto int,
	@id_usuario int,
	@id_rol int
AS
BEGIN
	DELETE Proyectos_Usuarios
	WHERE id_proyecto = @id_proyecto
	and id_usuario = @id_usuario
	and id_rol = @id_rol
END
GO
/****** Object:  StoredProcedure [dbo].[proyectosUpdate]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 13/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[proyectosUpdate]
	@id_proyecto int,
	@nombre varchar(50),
	@descripcion varchar(500),
	@fecha_ultima_modif datetime,
	@urlTesting varchar(200),
	@urlProduccion varchar(200)
AS
BEGIN
	UPDATE Proyectos
	set 
		nombre = @nombre,
		descripcion = @descripcion,
		urlTesting = @urlTesting,
		urlProduccion = @urlProduccion,
		fecha_ultima_modif = @fecha_ultima_modif
		where id_proyecto = @id_proyecto
	
END
GO
/****** Object:  StoredProcedure [dbo].[rolesGetById]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 23/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[rolesGetById]
	@id_rol int
AS
BEGIN
	SELECT *
	FROM Roles
	WHERE id_rol = @id_rol
END
GO
/****** Object:  StoredProcedure [dbo].[rolesGetByIdUsuario]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 21/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[rolesGetByIdUsuario]
	@id_usuario int
AS
BEGIN
	SELECT r.id_rol, r.nombre 
	FROM Roles r
	INNER JOIN Roles_usuarios ru
	on r.id_rol = ru.id_rol
	where ru.id_usuario = @id_usuario
	
END
GO
/****** Object:  StoredProcedure [dbo].[rolesUsuarioDelete]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 22/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[rolesUsuarioDelete]
	@id_usuario int
AS
BEGIN
	DELETE Roles_Usuarios
	where id_usuario = @id_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[rolesUsuarioInsert]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 22/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[rolesUsuarioInsert]
	@id_usuario int,
	@id_rol int
AS
BEGIN
	INSERT INTO roles_usuarios
	(id_usuario, id_rol)
	VALUES
	(@id_usuario, @id_rol)
END
GO
/****** Object:  StoredProcedure [dbo].[sesionesDelete]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 16/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[sesionesDelete]
	@id_usuario int
AS
BEGIN
	DELETE Sesiones
	where id_usuario = @id_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sesionesGetByIdUser]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 16/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[sesionesGetByIdUser]
	@id_usuario int
AS
BEGIN
	SELECT *
	FROM Sesiones
	WHERE id_usuario = @id_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sesionesGetByToken]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 16/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[sesionesGetByToken]
	@token varchar(100)
AS
BEGIN
	SELECT *
	FROM Sesiones
	where token = @token
END
GO
/****** Object:  StoredProcedure [dbo].[sesionesInsert]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 16/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[sesionesInsert]
	@id_usuario int,
	@fecha_inicio datetime,
	@token varchar(100)
AS
BEGIN
	INSERT INTO Sesiones
		(id_usuario, fecha_inicio, token)
	VALUES
		(@id_usuario, @fecha_inicio, @token)
END
GO
/****** Object:  StoredProcedure [dbo].[usuariosGetAll]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 21/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[usuariosGetAll]
	
AS
BEGIN
	SELECT * 
	FROM Usuarios
END
GO
/****** Object:  StoredProcedure [dbo].[usuariosGetByFilters]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 26/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[usuariosGetByFilters]
	@login_name varchar(50),
	@id_rol int
AS
BEGIN
	SELECT u.*
	FROM Usuarios u
	INNER JOIN Roles_Usuarios ru
	ON ru.id_usuario = u.id_usuario
	INNER JOIN Roles r
	on r.id_rol = ru.id_rol
	where (login_name = @login_name or @login_name = '-1')
	and (ru.id_rol = @id_rol or @id_rol = -1)
END
GO
/****** Object:  StoredProcedure [dbo].[usuariosGetById]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela, Marcelo
-- Create date: 01/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[usuariosGetById]
	@id_usuario int
AS
BEGIN
	SELECT *
	FROM Usuarios
	WHERE id_usuario = @id_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[usuariosGetByUserNamePassword]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 08/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[usuariosGetByUserNamePassword]
	@login_name varchar(50),
	@password varchar (100)
AS
BEGIN
	SELECT * 
	FROM Usuarios
	WHERE UPPER(login_name) = UPPER(LTRIM(RTRIM(@login_name)))
	and password = LTRIM(RTRIM(@password))
END
GO
/****** Object:  StoredProcedure [dbo].[usuariosInsert]    Script Date: 27/03/2018 04:52:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Brizuela Marcelo
-- Create date: 17/03/2018
-- =============================================
CREATE PROCEDURE [dbo].[usuariosInsert]
	@login_name varchar(50),
	@password varchar(100),
	@fecha_alta datetime,
	@email varchar(100),
	@token_clave varchar(50),
	@habilitado bit,
	@nombre varchar(50),
	@apellido varchar(50),
	@telefono varchar(50)
AS
BEGIN	

	INSERT INTO [Usuarios]
           ([login_name]
           ,[password]
           ,[fecha_alta]
           ,[email]
           ,[token_clave]
           ,[habilitado]
           ,[nombre]
           ,[apellido]
           ,[telefono]
		   ,[fecha_ultima_modif])
     VALUES
           (UPPER(@login_name)
           ,@password
           ,@fecha_alta
           ,@email
           ,@token_clave
           ,@habilitado
           ,@nombre
           ,@apellido
           ,@telefono
		   ,getdate());

		SELECT @@IDENTITY


END


GO
USE [master]
GO
